adel847-schema2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="ArrayOfProductType">
        <xs:sequence>
            <xs:element name="Product" type="ProductType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Description" type="xs:string" />
            <xs:element name="Price" type="xs:decimal" />
            <xs:element name="Origins" type="OriginType" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="OriginType">
        <xs:sequence>
            <xs:element name="Origin" type="OriginsType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="OriginsType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Australia"/>
            <xs:enumeration value="Fiji"/>
            <xs:enumeration value="France"/>
            <xs:enumeration value="India"/>
            <xs:enumeration value="New Zealand"/>
            <xs:enumeration value="South Korea"/>
            <xs:enumeration value="Vietnam"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ArrayOfProduct" type="ArrayOfProductType" />

</xs:schema>